/* import google font  "Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* import the tailwindcss  */
@import "tailwindcss";

/* daisyui plugin  */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* common styles  */
body {
  color: #222222;
  font-family: "Montserrat", sans-serif;
}

.cf-text-primary {
  color: #ff6d1f;
}
